<html>
<body>
<div id="app">
    <h1>{{ message }}</h1>
    <p v-if="secretMessage">this is a secret HTML element</p>
    <p v-else>Welcome to the website</p>

    <p>Shopping list</p>
    <ol>
        <li v-for="item in shoppingList">{{item}}</li>
    </ol>

</div>

<script src="https://unpkg.com/vue"></script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            message: "Hi!",
            secretMessage: true,
            shoppingList: [
                "milk",
                "eggs",
                "steak",
                "chicken"
            ]
        }
    });
</script>
</body>
</html>